/* GLOBAL STYLES */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #e9f0ce;
    color: #313131;
}

header {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.add-remove-community-service-section {
    display: flex;
    justify-content: center;
    gap: 150px;
    text-align: center;
    margin-bottom: 40px;
}

.list-community-service-section {
    text-align: center;
    margin-bottom: 40px;
}

.add-remove-aid-facility-section {
    display: flex;
    justify-content: center;
    gap: 150px;
    text-align: center;
}

.list-aid-facility-section {
    text-align: center;
    margin-bottom: 40px;
}

.add-remove-donate-to-section {
    display: flex;
    justify-content: center;
    gap: 150px;
    text-align: center;
}

.list-donate-to-section {
    text-align: center;
    margin-bottom: 40px;
}

.list-join-donation-service-section {
    text-align: center;
    margin-bottom: 40px;
}